@import "tailwindcss";

@font-face {
  font-family: "Kdam Thmor Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/kdamthmorpro/v6/EJRPQgAzVdcI-Qdvt34jzurnGD74hc5q8oWa.woff2")
    format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/vazirmatn/v15/Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzCR6T7kLA7QdqzYzr.woff2")
    format("woff2");
}

:root {
  --dark-background: #213448;
  --light-background: #e8ffff;

  --toggle-bg-light: #a6f6f1;
  --toggle-bg-dark: #94b4c1;

  --toggle-dark-knob-bg: #ecefca;
  --toggle-light-knob-bg: #41aea9;

  --toggle-icon-light: #1a202c;
  --toggle-icon-dark: #f7fafc;
}
.dark {
  --toggle-button-bg: var(--toggle-button-bg-dark);
  --toggle-knob-bg: var(--toggle-bg-dark);
  --toggle-knob-text: var(--toggle-text-dark);
}
/* Button background and text */
.toggle-button {
  background-color: var(--toggle-bg-light);
  color: var(--toggle-icon-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .toggle-button {
  background-color: var(--toggle-bg-dark);
  color: var(--toggle-icon-dark);
}

/* Knob styles */
.toggle-knob {
  transition: background-color 0.3s ease,
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* smooth slide */
}

.toggle-knob.light {
  background-color: var(--toggle-light-knob-bg);
}

.toggle-knob.dark {
  background-color: var(--toggle-dark-knob-bg);
}

.lang-toggle-knob.light {
  background-color: var(--toggle-light-knob-bg);
}

.lang-toggle-knob.dark {
  background-color: var(--toggle-dark-knob-bg);
}
.landing-container {
  background-color: #e8ffff;
  color: #213448;
}

.dark .landing-container {
  background-color: #213448;
  color: #e8ffff;
}

.sl-bar {
  background-color: #213e3b;
  opacity: 0.84;
}
.dark .sl-bar {
  background-color: #20262d;
  opacity: 0.84;
}

.sl-bar-items-bg {
  background-color: #213e3b;
  opacity: 1;
}

.dark .sl-bar-items-bg {
  background-color: #20262d;
  opacity: 1;
}
.sl-bar-item {
  background-color: #213e3b;
  opacity: 1;
}

.dark .sl-bar-item {
  background-color: #20262d;
  opacity: 1;
}

.sl-bar-item:hover {
  opacity: 0.5;
}

.switch-transparent {
  opacity: 0;
}
